# Build output
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.res
*.lib
*.exp
deps/
fabric-sandbox/
jdk.zipfs/

# Audit logs
*.jsonl

# Logs
*.log

# IDE & temporary
.vs/
build/
out/
test/
testmod/bin/
testmod/*.jar
